@import 'tailwindcss';

@theme {
  --breakpoint-2xs: 20rem;
  --breakpoint-xs: 30rem;
  --breakpoint-2xl: 120rem;

  --text-md: 1rem;
}

@layer base {
  .container,
  main {
    @apply xs:px-10 xs:py-8 px-6 py-4 sm:px-6 md:px-16 md:py-16;
  }

  h1 {
    @apply text-3xl max-sm:text-2xl;
  }

  h2 {
    @apply text-2xl max-sm:text-xl;
  }

  p {
    @apply max-sm:text-md text-lg;
  }

  img {
    @apply md:transition-transform;
  }

  * {
    @apply text-md max-xs:text-justify;
  }

  .separator {
    @apply flex items-center gap-x-[8vw] max-lg:flex-col md:justify-between;
  }

  .context-img {
    @apply object-scale-down max-md:pb-8 md:h-100 md:hover:scale-105 lg:max-w-1/2;
  }
}

@font-face {
  font-family: monocraft;
  src: url(../../Monocraft.ttf);
}

html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  flex: auto;
}

* {
  font-family: monocraft;
}
